@font-face{
	font-family:Helvetica;
	src:Helvetica.otf;
}
body{
	font-family:Helvetica;
}
.header{
	padding:15px 0;
}
.top_bar{
	float:right;
}
.top_bar ul{
	padding-left:0;
}
.top_bar ul li{
	float:left;
	list-style:none;
	background:#303e47;
	padding:3px 5px;
	border-radius:8px;
	color:#fff;
	text-transform:uppercase;
	width: 210px;
    text-align: center;
	margin-left: 20px;
}
.top_bar ul li a{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
.top_bar ul li:hover{
	background:#8c704b;
}
/*------SOCIAL--------------*/
.social{
	margin-top: 25px;
}
.social ul{
	float:right;
}
.social ul li{
	float: left;
    width: 31px;
    height: 28px;
    background: none;
    padding: 0px;
    margin-left: 5px;
    list-style: none;
}
.social ul li a{
	height: 28px;
    width: 31px;
    display: block;
    text-indent: -9999px;
    background: url(../images/social.png);
}
.social ul li a:hover{
	opacity:0.7;
}
.social ul li a.facebook{
	background-position: 0px 0px;
}
.social ul li a.twitter{
	background-position: -36px 0px;
}
.social ul li a.googleplus{
	background-position: -71px 0px;
}
.social ul li a.insta{
	background-position: -105px 0px;
}
.social ul li a.link{
	background-position: -138px 0px;
}
.social ul li a.youtube{
	background-position: -175px 0px;
}
/*------MENU--------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
  background: #ffffff;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
    padding: 20px 4px;
    font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8d6f4b;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:last-child > a{
	padding-right:0;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #000;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
     top: 24px;
    right: 15px;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 9999;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}

/*----END OF MENU----*/
/*--------SLIDER-----------*/
/*----slider----*/
.static_banner{
	margin-top:0 !important;
}
.static_banner img{
	margin:0 auto;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  margin-top:0px;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
  width: 100%;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: 1px #000;
    color: #fff;
/*     left: 0%; 
    right: 0;*/
    /* padding: 10px 20px; */
    margin:0 auto;
    max-width: none;
/*    top:15px;*/
	left:0;
	bottom:0;
	right:0;
    width:700px;
	background:#fff;
}
.caption h2{
	line-height:25px;
	 font-size:20px;
	 color:#00447b;
	 text-transform:uppercase;
	 text-align:center;
}

.center_banner .callbacks_nav{
	background:none !important;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
 	left: auto;
	background-position: right top;
	right:0;
}
.callbacks_nav.prev{
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width:100%;
  padding: 0;
  margin: 0 auto;
  margin-top:0px;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	    bottom: 14px;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    /* margin: 0 auto; */
    text-align: center;
}
.callbacks_tabs li{
	display:inline-block;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  background:rgba(255,255,255,0.5);
  font-size:0;
  font-family: FontAwesome;
  /*visibility: visible;*/
  display: block;
  height:18px;
  width:18px;
  /*display:inline-block;*/
  
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	background:rgba(255,255,255,1);
}
.try{
	position:relative;
}
.blok{
	background:rgba(255,255,255,0.7);
	border-radius:8px;
	bottom:50px;
	right:60px;
	position:absolute;
	z-index:99;
		box-shadow:1px 0px 22px 0px;
	-moz-box-shadow:1px 0px 22px 0px;
	-webkit-box-shadow:1px 0px 22px 0px;
	box-shadow:1px 0px 22px 0px;
	    width: 275px;
		padding-left:5px;
		padding-right:5px;
}
.on_banner h4{
	color:#16337c;
	font-family:Century;
	margin-bottom:5px;
	margin-left:10px;
	font-size:21px;
	font-weight:bold;
	    margin-top: 16px;
}
.on_banner h3{
		color:#16337c;
	font-family:Century;
	margin-top:0;
	font-size:22px;
	font-weight:bold;
	    margin-left: 10px;
}
.on_banner .btn{
	  /*  position: absolute;
    bottom: 25px;
    right: 23px;*/
	background:linear-gradient(#497ebb,#2b4c9d);
	color:#fff;
	font-weight:bold;
	transition:all 0.20s;
	font-size: 13px;
    padding: 4px 9px;
    margin-left: 10px;
}
.on_banner .btn:hover{
	background:linear-gradient(#2b4c9d,#497ebb);
	color:#fefefe;
}
.one_banner{
	/*background:url(../images/get.png) no-repeat right top;*/
	border-bottom: 1px solid #fff;
    padding-bottom: 12px;
	height: 120px;
	position:relative;
}
.two_banner{
	/*background:url(../images/get2.png) no-repeat right top;*/
    padding-bottom: 12px;
	height: 100px;
	position:relative;
}
.one_banner img, .two_banner img{
	position:absolute;
	top:0;
	right:0;
	width:auto;
	}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 68%;
    left:109px;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 73px;
    width:50px;
    background: transparent url("../images/arrow.png") no-repeat left top;
    margin-top: -65px;
	display:none;
}	
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right:109px;
}
/*-------------*/
.on_banner_blocks{
	background:rgba(48,62,71,0.8);
	position:absolute;
	top:40px;
	z-index:999;
	width:380px;
    right: 123px;
	padding:20px;
}
.on_banner_blocks label{
	color:#fff;
	font-weight:normal;
	margin-right: 40px;
	margin-bottom: 15px;
}
.on_banner_blocks label input[type="radio"]{
	vertical-align: sub;
    margin-right: 5px;
}
.on_banner_blocks .form-control{
	border-radius:0;
	background:#d2d2d2;
	box-shadow:none;
	border:none;
	margin-bottom: 12px;
}
.two_select{
}
.two_select .form-control{
	float:left;
	width:42%;
	margin-right:5px;
}
.two_select .btn{
	background:#8d6f49 url(../images/search.png) no-repeat center;
	text-indent: -999999px;
	border-radius:0;
	width: 38px;
    margin-left: 5px;
}
/*-------END OF SLIDER------*/
/*--flexisel--*/
.feature{
	background:#303e47;
	position: relative;
	margin-top: 35px;
	padding-bottom: 30px;
    padding-top: 10px;
}
.feature h3{
	color:#826847;
	text-transform:uppercase;
	font-size:20px;
	margin-left:38px;
	    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 24px;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
    max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	width:90%;
	margin:0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:16px;
	height:24px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	right: 50px;
	top:37px !important;
	background: url(../images/scroller.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
	right: 25px;
	top:37px !important;
	background: url(../images/scroller.png) no-repeat -25px 0px;
}
/*--flexisel--*/
.team-grid{
margin:0 13px;
height: 100%;
padding:13px 0px 0px 0px;
}
.spec h4{
	color:#fff;
	font-size:16px;
	float:left;
}
.spec ul{
	float:right;
	padding-left:0;
	margin-top:10px;
}
.spec ul li{
	float:left;
	color:#98a0a3;
	list-style:none;
	margin-left:5px;
}
.spec ul li img{
	width:auto;
}
.team-grid p{
	color:#98a0a3;
	text-align:center;
	line-height:18px;
	margin-bottom:0;
}
.team-grid p span{
	color:#7a6248;
}
.team-grid img {
	width: 100%;
}
/*-- //team --*/
.welcome{
	text-align:center;
	margin-top:30px;
}
.welcome h3{
	 color: #826847;
    text-transform: uppercase;
    font-size: 25px;
}
.welcome h3 span{
	font-weight:bold;
}
.welcome p{
	color:#7b8288;
}
/*--------------------*/
.bottom_two{
	margin-top:25px;
}
.bottom_two .col-xs-2{
	padding-left:8px;
	padding-right:8px;
}
.bottom_two .col-xs-12{
	padding:0;
}
.main_list h3{
	text-transform:uppercase;
	color:#8c704b;
	margin-bottom:25px;
}
.main_list .col-lg-3{
	padding-right:0;
}
.property_list{
	margin-bottom: 30px;
}
.property_list a{
	text-decoration:none;
}
.property_list:hover p span{
	color:#000;
	font-weight:bold;
}
.property_list:hover p{
	color:#8c704b;
}
.property_list:hover img{
	transform:scale(1.02,1.02);
	border-bottom:5px solid #826847;
}
.property_list .spec h4{
	color:#000;
	margin-bottom: 3px;
}
.property_list .spec img{
	border-bottom:none;
}
.property_list .spec ul{
	margin-top:7px;
	margin-bottom: 3px;
}
.property_list img{
	border-bottom:5px solid #313e47;
	transition:all 0.25s ease;
}
.property_list p{
	color: #7b8288;
	text-align:center;
	transition:all 0.20s ease;
	font-size: 13px;
	margin-bottom: 0;
}
.property_list p span{
	color:#8c704b;	
}
.listing{
	width: 20%;
	float:left;
	padding-right: 8px;
    padding-left: 8px;
	list-style:none;
}
.bottom_two h2{
	color:#8c704b;
	text-transform:uppercase;
}
.bottom_two h2 span{
	font-weight:bold;
}
.paging{
	text-align:right;
	float:left;
	width:100%;
	margin:15px 0;
}
.paging ul{
	padding:0;
}
.paging ul li{
	display:inline;
	list-style:none;
}
.paging ul li a{
	color:#fff;
	background:#8c704b;
	padding:5px 8px;
	border-radius:50%;
	text-decoration:none;
}
.paging ul li a:hover, .paging ul li.active a {
	background:#303e47;
}
/*--------	blog---------------*/
.blog{
}
.blog h3{
	text-transform:uppercase;
	color:#8c704b;
	margin-bottom:25px;
}
.blog h4{
	    color: #8c704b;
}
.blog li{
	background:#e9e2dc;
	padding:15px;
}
.facebook_page{
	margin-top:15px;
}

/*----------SEARCH BAR-----------*/
.inner_header{
	border-bottom:9px solid #303e48;
}
.search_bar{
	 background: #303e47;
	 padding-top: 20px;
	 padding-bottom: 10px;
	float: left;
    width: 100%;
	display:none;
}
.inner_search{
}
.inner_search .col-md-2{
	padding-top:5px;
}
.inner_search label{
	color:#fff;
	font-weight:normal;
    font-size: 17px;
    margin-right: 5px;
}
.inner_search label:last-child{
	margin-right:0;
}
.inner_search .form-control{
	background:#d2d2d2;
	border-radius:0;
	width:30%;
	float:left;
	margin-right:15px;
}
.click_to_show{
}
.click_to_show .btn{
	float:right;
	text-transform:uppercase;
	background:#303e48 url(../images/search_ic.png) no-repeat 95%;
	color:#fff;
	padding-right: 60px;
	padding-top: 10px;
    padding-bottom: 10px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	outline:none;
}
/*--------Price Range------*/
.price_range{
	/*background:url(../images/search_back.png) no-repeat 40px -5px;*/
}
.flat-slider {
  padding: 0;
  position: relative;
  margin-top: 15px;
      float: left;
    width: 87%;
}

.flat-slider .ui-corner-all { border-radius: 0px; }

.flat-slider .ui-widget-content a { color: #222222; outline:none; }

.flat-slider .ui-widget-content {
  color: #222222;
  background-color: #fff;
  background-image: none;
  border-width: 0;
}

.flat-slider .ui-widget-header {
/*  background-color: #d4555f;
  border-color: white;
  background-image: none;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#39e1ca+0,094035+100 */
background: #39e1ca; /* Old browsers */
background: -moz-linear-gradient(left,  #39e1ca 0%, #094035 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #39e1ca 0%,#094035 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #39e1ca 0%,#094035 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39e1ca', endColorstr='#094035',GradientType=1 ); /* IE6-9 */

}

.flat-slider .ui-state-hover,
.flat-slider .ui-widget-content .ui-state-hover,
.flat-slider .ui-widget-header .ui-state-hover,
.flat-slider .ui-state-focus,
 .flat-slider .ui-widget-content .ui-state-focus,
.flat-slider .ui-widget-header .ui-state-focus { }

.flat-slider .ui-slider {
  position: relative;
  text-align: left;
}

.flat-slider .ui-slider-horizontal { height: 0.4rem;     width: 93%;}

.flat-slider .ui-slider-handle {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background:#8d6f4a;
  border-radius:50%;
  top: -6px;
   width: 16px;
    height: 16px;
}

.flat-slider .min,
.flat-slider .max,
 .flat-slider .min_value,
.flat-slider .max_value,
.flat-slider .value {
  /*margin-top:12px;*/
  font-size: 0.8rem;
  white-space: nowrap;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.flat-slider .min,
.flat-slider .max {
  font-size: 0.7rem;
  color: #c4c4c4;
}

.flat-slider .min { float: left;    font-size: 10px; }

.flat-slider .max { float: right;     font-size: 10px;}

.flat-slider .min_value,
.flat-slider .max_value,
.flat-slider .value { position: absolute;font-size: 12px;color: #fff;     top: -29px; }
.max_value{
	right:0 !important;
	left:auto !important;
}
.min_value{
	left:0 !important;
	right:auto !important;
}
.flat-slider::after { clear: both; }
.range a img{
	float:left;
	margin-left: 10px;
}
/*---------*/

/*----------ABOUT US PAGE---------*/
.about{
	 margin-bottom: 25px;
}
.about h2{
	color: #8c704b;
    text-transform: uppercase;
}
.about p{
	color:#677179;
	font-size: 15px;
	    margin-bottom: 16px;
}
.about p img{
	float:left;
	margin-right:25px;
	margin-bottom:25px;
}
.about p img:nth-child(3n+3){
	margin-right:0;
}
.about h2 span{
	font-weight: bold; 
}
.breadcrumb{
	background:none;
	    padding-left: 0;
}
.breadcrumb li{
	color:#8c704b;
}
.breadcrumb li a{
	color:#000;
	text-decoration:none;
}
.breadcrumb li a:hover{
	color:#8c704b;
}
/*------------ DETAIL PAGE------------------*/
.detail_header{
}
.detail_header h3{
	text-transform:uppercase;
	color:#8c704b;
}
.detail_header p{
	float:left;
	width:100%;
}
.detail_header p span{
	float:right;
}
.detail_header h4{
	float:left;
	width:100%;
	font-weight:bold;
	font-size:25px;
}
.detail_header .btn{
	float:right;
	text-transform:uppercase;
	background:#b09d88;
	color:#303e48;
	border-radius:0;
	transition:all 0.25s ease;
}
.detail_header .btn:hover{
	background:#303e48;
	color:#b09d88;
}
/*------PRODUCT DETAIL SLIDER CODE----------*/
.slider_with_info{
	background:#303e47;
	    padding: 15px 25px;
}
.short_detail p{
	color:#fff;
}
#responsive-slider {
	min-height: 400px;
}
#responsive-slider .layer a {
	color: #00F;
}


#responsive-slider .layer.black a {
	color: #FFF;
}

.advanced-slider {
	position: relative;
	overflow: visible;
	outline: none;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}


.advanced-slider * {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}


.advanced-slider.fullscreen {
	max-width: 100% !important;
	max-height: 100% !important;
}


.advanced-slider a {
	position: static;
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}


.advanced-slider img {
	max-width: none;
	max-height: none;
	border: none;
	padding: 0;
	margin: 0;
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}


.advanced-slider .slider-main {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.advanced-slider .slide-wrapper {
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
	z-index: 2;
}


.advanced-slider .slides {
	position: absolute;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	width: 100%;
	height: 100%;
}


.advanced-slider .slide {
	position: absolute;
	overflow: hidden;
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	visibility: hidden;	
	list-style: none;
	filter: alpha(opacity=100);
	opacity: 1;
}


.advanced-slider .slide .image,
.advanced-slider .slide .thumbnail,
.advanced-slider .slide .caption,
.advanced-slider .slide .html {
	position: absolute;
}


.advanced-slider .slide .image {
	border: none !important;
	padding: 0 !important;
}


.advanced-slider.webkit .slide .html {
	overflow: hidden;
}


.advanced-slider .video-hidden-image {
	display: none;
}


.advanced-slider iframe.video {
	background-color: #000;
}


.advanced-slider .video-play-button {
	display: block;
	background-image: url(images/video_play.png);
	background-position: center;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
}


.advanced-slider.webkit .slide.transition .html iframe, 
.advanced-slider.webkit .slide.active .html iframe,
.advanced-slider.webkit .slide.transition .layer.init iframe,
.advanced-slider.webkit .slide.active .layer.init iframe {
   display: block;
}


.advanced-slider.webkit .slide .html iframe, 
.advanced-slider.webkit .slide .layer iframe {
   display: none;
}


.advanced-slider iframe {
	display: block;
}


.advanced-slider .slice-container {
	position: absolute;
	width: 100%;
	height: 100%;
}


.advanced-slider .swipeable-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow:hidden;
}

.advanced-slider .swipeable-container .selectable {
	cursor: default;
}


.advanced-slider .swipeable-container .grab {
	cursor: url(images/openhand.cur), move;
}


.advanced-slider .swipeable-container .grabbing {
	cursor: url(images/closedhand.cur), move;
}


.advanced-slider .thumbnail-scroller .swipe {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.advanced-slider .thumbnail-scroller .grab {
	cursor: url(images/openhand.cur), move;
}


.advanced-slider .thumbnail-scroller .grabbing,
.advanced-slider .thumbnail-scroller .grabbing a:hover,
.advanced-slider .thumbnail-scroller .grabbing a:active,
.advanced-slider .thumbnail-scroller .grabbing .lightbox-icon {
	cursor: url(images/closedhand.cur), move;
}


.advanced-slider .layer {
	position: absolute;
	visibility: hidden;
	padding: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.advanced-slider .layer.black {
	color: #FFF;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}


.advanced-slider .layer.white {
	color: #000;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
}


.advanced-slider .layer.rounded {
	border-radius: 10px;
}


.advanced-slider .slice {
	display: block;
	position: absolute;
}


.advanced-slider .preloader {
	position: absolute;
	background: url(images/preloader2.gif) no-repeat;
	width: 62px;
	height: 14px;
	z-index: 15;
}


.advanced-slider .slide-arrows {
	position: static;
}


.advanced-slider .slide-arrows a {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .lightbox-icon {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	cursor: pointer;
}


.advanced-slider .lightbox-icon.play {
	background-image: url(images/lightbox_play.png);
}


.advanced-slider .lightbox-icon.magnifying {
	background-image: url(images/lightbox_magnifying.png);
}


.advanced-slider .lightbox-icon.hyperlink {
	background-image: url(images/lightbox_hyperlink.png);
}


.advanced-slider .slideshow-controls {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .shadow {
	position: absolute;
	height: 94px;
	margin-top: -50px;
	z-index: 1;
}


.advanced-slider .shadow .shadow-left, 
.advanced-slider .shadow .shadow-right, 
.advanced-slider .shadow .shadow-middle {
	float: left;
}


.advanced-slider .shadow .shadow-left {
	float: left;
	background: url(images/shadow_left.png);
	width: 200px;
	height: 94px;
}


.advanced-slider .shadow .shadow-right {
	float: left;
	background: url(images/shadow_right.png);
	width: 200px;
	height: 94px;
}


.advanced-slider .shadow .shadow-middle {
	float: left;
	background: url(images/shadow_middle.png) repeat-x;
	height: 94px;
}


.advanced-slider .full-screen-controls {
	background: url(images/fullscreen.png) no-repeat;
	position: absolute;
	width: 31px;
	height: 27px;
	top: 20px;
	left: 20px;
	cursor: pointer;
}


.advanced-slider .timer-animation {
	position: absolute;
}


.advanced-slider canvas {
	position: absolute;
}


.advanced-slider .timer-animation .timer-animation-controls {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}


.advanced-slider .timer-animation .timer-animation-controls {
	background: url(images/playpause_small.png) no-repeat;
}


.advanced-slider .timer-animation.play .timer-animation-controls {
	background-position: -20px 0;
}


.advanced-slider .timer-animation.pause .timer-animation-controls {
	background-position: 0 0;
}


.advanced-slider .caption-container {
	overflow: hidden;
	position: absolute;
}


.advanced-slider .caption-container .wrapper {
	position: absolute;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}


.advanced-slider .caption-container .background {
	position: absolute;
	width: 100%;
	height: 100%;
}


.advanced-slider .caption-container .caption {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.advanced-slider .thumbnail-wrapper {
	position: absolute;
}


.advanced-slider .thumbnail {
	background-image: url(images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;
	border-radius:0;
	border:none;
}


.advanced-slider .thumbnail-content {
	background: none;
}



.advanced-slider .slide-buttons {
	position: absolute;
	z-index: 3;
}


.advanced-slider .slide-buttons .left, 
.advanced-slider .slide-buttons .right, 
.advanced-slider .slide-buttons .middle {
	float: left;
}


.advanced-slider .slide-buttons a {
	position: relative;
	cursor: pointer;
	float: left;
	text-decoration: none;
	text-align: center;
}


.advanced-slider .thumbnail-scroller {
	position: absolute;
	z-index: 2;
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	-o-box-sizing: content-box; 
	box-sizing: content-box; 
}


.advanced-slider .thumbnail-scroller .thumbnails-visible-container {
	position: relative;
	overflow: hidden;
}


.advanced-slider .thumbnail-scroller .thumbnails-container {
	position: absolute;
	overflow: visible;
	top: 0;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}


.advanced-slider .thumbnail-scroller .thumbnail-wrapper {
	cursor: pointer;
	list-style: none;
}


.advanced-slider .thumbnail-scroller .lightbox-icon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	cursor: pointer;
}


.advanced-slider .thumbnail-scroller .lightbox-icon.play {
	background-image: url(images/lightbox_play_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.magnifying {
	background-image: url(images/lightbox_magnifying_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.hyperlink {
	background-image: url(images/lightbox_hyperlink_small.png);
}


.advanced-slider .thumbnail .caption {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.advanced-slider .thumbnail .caption .background {
	position: absolute;	
	width: 100%;
	height: 100%;
}


.advanced-slider .thumbnail .caption .content {
	position: absolute;
	width: 100%;
}


.advanced-slider .thumbnail-scroller .arrows a {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .thumbnail-scroller .buttons {
	position: absolute;
	width: auto;
}


.advanced-slider .thumbnail-scroller .buttons a {
	position: absolute;
	cursor: pointer;
	text-decoration: none;
}


.advanced-slider-tooltip {
	position: absolute;
	z-index: 9999;
}
/* MAIN SLIDE */

.glossy-square-gray .slide-wrapper {
/*	background-color: #FFF;
	border: 4px solid #FFF;
	-moz-box-shadow: 0 0 10px #CCC;
	-webkit-box-shadow: 0 0 10px #CCC;
	box-shadow: 0 0 10px #CCC;*/
}


.glossy-square-gray .slide {
	background-color: #FFF;
}

/* END OF MAIN SLIDE */


/* SLIDE ARROWS */

.glossy-square-gray .slide-arrows a {
	background: url(images/arrows.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 50%;
	margin-top: -32px;
}


.glossy-square-gray .slide-arrows a.previous {
	left: -32px;
}


.glossy-square-gray .slide-arrows a.next {
	right: -32px;
	background-position: -64px 0;
}

/* SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.glossy-square-gray .slideshow-controls {
	background: url(images/playpause.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}


.glossy-square-gray .slideshow-controls.pause {
	background-position: 0 0;
}


.glossy-square-gray .slideshow-controls.play {
	background-position: -64px 0;
}

/* END OF SLIDESHOW CONTROLS */


/* TIMER ANIMATION */

.glossy-square-gray .timer-animation {
	top: 20px;
	right: 20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.glossy-square-gray .caption-container .background {
	background-color: #000;
	width: 100%;
	height: 100%;
}


.glossy-square-gray .caption-container .caption {
	color: #FFF;
	margin: 0;
	padding: 8px;
	font-size: 16px;
	line-height: 18px;
}

/* END OF SLIDE CAPTION */


/* SLIDE BUTTONS/BULLETS */

/* main container of the navigation buttons */
.glossy-square-gray .slide-buttons {
	margin-top: 40px;
}


.glossy-square-gray .slide-buttons .left, 
.glossy-square-gray .slide-buttons .right {
}


.glossy-square-gray .slide-buttons .left {
}


.glossy-square-gray .slide-buttons .middle {
}


.glossy-square-gray .slide-buttons .right {
}


/* this contains the buttons */
.glossy-square-gray .slide-buttons .buttons-inner {
}


/* this contains the buttons */
.glossy-square-gray .slide-buttons .buttons-inner a {
	background: url(images/buttons.png) no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 15px;
	margin: 0 2px;
}


.glossy-square-gray .slide-buttons .buttons-inner a.over {
	background-position: -14px 0; 
}


.glossy-square-gray .slide-buttons .buttons-inner a.select {
	background-position: -28px 0; 
}


/* this is used to style the numbers from within the buttons, when they are used */
.glossy-square-gray .slide-buttons .buttons-inner a .number {
	margin-top: 2px;
	font-size: 8px;
	line-height: 10px;
	font-weight: bold;
	color: #FFF;
}


.glossy-square-gray .slide-buttons .buttons-inner a.over .number {
	color: #FFF;
}


.glossy-square-gray .slide-buttons .buttons-inner a.select .number {
	color: #FFF;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.glossy-square-gray .slide-buttons .buttons-inner .thumbnail-wrapper {
	margin-bottom: 10px;
}

/* END OF SLIDE BUTTONS/BULLETS */


/* THUMBNAIL IMAGE */

.glossy-square-gray .thumbnail {
	background-color: #FFF;
/*	border: solid 3px #FFF;
	-moz-box-shadow: 0 0 10px #AAA;
	-webkit-box-shadow: 0 0 10px #AAA;
	box-shadow: 0 0 10px #AAA;
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#AAAAAA')";
	filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#AAAAAA');*/
}

/* END OF THUMBNAIL IMAGE */


/* THUMBNAIL SCROLLER */

.glossy-square-gray .thumbnail-scroller.horizontal {
    bottom: 0;
    left: 0;
    padding: 0px 17px;
    margin-top: 10px;
    width: 95% !important;
    left: 0 !important;
}


.glossy-square-gray .thumbnail-scroller.horizontal.overlay {
	bottom: 80px;
	margin-top: 0;
}


.glossy-square-gray .thumbnail-scroller.vertical {
	right: 0;
	top: 0;
	padding: 50px 0;
	margin-left: 30px;
}


.glossy-square-gray .thumbnail-scroller.vertical.overlay {
	right: 80px;
	margin-left: 0;
}


.glossy-square-gray .thumbnail-scroller .thumbnail-wrapper {
	margin: 5px;
	padding: 4px;
}
.glossy-square-gray .thumbnail-scroller .thumbnail{
	opacity:0.7;
}
.glossy-square-gray .thumbnail-scroller .thumbnail.select,
.glossy-square-gray .thumbnail-scroller .thumbnail.over {
	border: solid 1px #fff;
	opacity:1;
	/*-moz-box-shadow: 0 0 10px #555;
	-webkit-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555')";
	filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555');*/
}


/* THUMBNAIL CAPTION */

.glossy-square-gray .thumbnail .caption .background {
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	display:none;
}


.glossy-square-gray .thumbnail .caption .content {
	color: #FFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding: 2px 0;
	margin: 0;
	display:none;
}

/* END OF THUMBNAIL CAPTION */


/* THUMBNAIL SCROLLER ARROWS */

.glossy-square-gray .thumbnail-scroller .arrows a {
	background: url(../images/arrows_small.png) no-repeat;
	width: 22px;
	height: 30px;
}


.glossy-square-gray .thumbnail-scroller.vertical .arrows a {
	background: url(../images/arrows_v_small.png) no-repeat;
	width: 30px;
	height: 22px;
}


.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.previous {
	left: 0;
}


.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.next {
	right: 0;
	background-position: -22px 0;
}


.glossy-square-gray .thumbnail-scroller.vertical .arrows a.previous {
	top: 0;
}


.glossy-square-gray .thumbnail-scroller.vertical .arrows a.next {
	bottom: 0;
	background-position: 0 -22px;
}

/* END OF THUMBNAIL SCROLLER ARROWS */


/* THUMBNAIL SCROLLER BUTTONS */

.glossy-square-gray .thumbnail-scroller .buttons a {
	background: url(images/buttons_small.png) no-repeat;
	background-position: 0 0; 
	width: 11px;
	height: 12px;
	margin: 2px;
}


.glossy-square-gray .thumbnail-scroller .buttons a.over {
	background-position: -11px 0; 
}


.glossy-square-gray .thumbnail-scroller .buttons a.select {
	background-position: -22px 0; 
}

/* END OF THUMBNAIL SCROLLER BUTTONS */


/* THUMBNAIL SCROLLER SCROLLBAR */

.glossy-square-gray .thumbnail-scroller.horizontal .scrollbar {
	margin-top: 30px;
}


.glossy-square-gray .thumbnail-scroller.vertical .scrollbar {
	margin-left: 30px;
}

/* END OF THUMBNAIL SCROLLER SCROLLBAR */

/* END OF THUMBNAIL SCROLLER */


/* TOOLTIP */

.tooltip {
	background-color: #DDD;
	margin-bottom: 20px;
	border: #EEE solid 4px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}


.tooltip .content {
	color: #999;
	padding: 10px;
	margin: 0;
}

/* END OF TOOLTIP */
@media (max-height:500px), (max-width:400px) {
	#responsive-slider .slide-arrows {
		visibility: hidden;
	}
}
/*------END OF PRODUCT DETAIL SLIDER CODE--------*/
.more_detail{
}
.more_detail h5{
	color:#303e47;
	font-weight:bold;
	font-size:13px;
}
.more_detail h4{
    font-size: 14px;
    color: #303e47;
    margin-top: 35px;
    font-weight: bold;
}
.more_detail p{
	color:#696969;
}
.facility {
	border-bottom:1px solid #ebebeb;
	float:left;
	width:100%;
	margin-bottom:15px;
}
.facility h1{
	color: #303e47;
}
.facility ul{
	padding-left:20px;
}
.facility ul li{
	list-style:url(../images/list.png);
	float:left;
	width:50%;
	margin-bottom:10px;
}
.location{
	margin-bottom:50px;
}
.location h3{
	color: #303e47;
}
.location iframe{
	width:100%;
	height:300px;
}
.similar_property{
}
.similar_property h3{
	    color: #8c704b;
    text-transform: uppercase;
}
.similar_property h3 span{
	font-weight:bold;
}
.similar_property .property_list{
	margin-bottom:25px;
}
/*--------FOOTER------------*/
.footer{
	background:#303e47;
	padding:15px 0;
}
.footer_block{
}
.footer_block h4{
	text-transform:uppercase;
	border-bottom:5px solid #8c704b;
	color:#fff;
	padding-bottom:8px;
}
.footer_block ul{
	padding-left:0;
}
.footer_block ul li{
	list-style:none;
	line-height:25px;
}
.footer_block ul li a{
	color:#fff;
	text-decoration:none;
}
.footer_block ul li a:hover{
	color:#8c704b;
}
.footer_block p{
	color:#fff;
	line-height: 30px;
}
.subscribe_form{
}
.subscribe_form .form-control{
	border-radius:0;
	width:40%;
	float:left;
	margin-right:10px;
	padding:1px 12px;
}
.subscribe_form .btn{
	background:#8c704b;
	color:#fff;
	border-radius:0;
	transition:all 0.15s ease;
}
.subscribe_form .btn:hover{
	background:#fff;
	color:#8c704b;
}
.subscribe_form ul{
	margin-top:15px;
}
.subscribe_form ul li{
	list-style:none;
	float:left;
	margin:4px;
}
.subscribe_form ul li:first-child{
	margin-left:0;
}
.subscribe_form ul li a{
	color:#6a808e;
	font-size:12px;
}
.subscribe_form p{
	color:#6a808e;
	font-size:12px;
}
.footer_block .cont{
}
.footer_block .cont li{
	color:#fff;
	line-height:35px;
}
.footer_block .cont li img{
	padding-right:10px;
}
/*---------------RESPONSIVE DESIGN STYEL STARTS HERE--------------------*/
@media screen and (max-width: 1024px){
	.logo img{
		display:block;
		margin:0 auto;
		margin-bottom:25px;
	}
	.top_bar, .social{
		float:none;
		text-align:center;
	}
	.top_bar ul li, .social ul li{
		float:none;
		display:inline-block;
	}
	.social ul {
  	 float:none;
	 padding-left:0;
	}
	.on_banner_blocks{
		top:10px;
		 padding: 5px 20px;
	}
	.main_list .col-lg-4{
		width:45%;
		float:left;
	}
	.property_list img {
		display:block;
		margin:0 auto;
	}
}
@media screen and (max-width: 768px){
	.top_bar ul li{
		width:190px;
	}
	#cssmenu{
		border:1px solid #303e47;
	}
	.on_banner_blocks{
		position:relative;
		right:0;
		width:100%;
		top:0;
		padding:15px 20px;
	}
	.main_list .col-lg-4{
		margin-right:35px;
	}
	.listing{
		width:33%;
	}
	.range{
		margin-top:65px;
	}
	.flat-slider{
		width:91%;
	}
	
}
@media screen and (max-width: 698px){
	.top_bar ul li{
		width:100%;
		margin-bottom:5px;
		margin-left:0;
	}
	.logo img{
		margin-bottom:10px;
	}
	.social {
    margin-top: 5px;
	}
	.spec {
		text-align:center;
	}
	.spec h4{
		float:none;
		
	}
	.spec ul{
		float:none;
	}
	.feature{
		padding-bottom:15px;
	}
	
	.spec ul li{
		float:none;
		display:inline-block;
	}
	.main_list .col-lg-4{
		width:100%;
		margin-right:0;
	}
}
@media screen and (max-width: 548px){
	.range a img{
		margin-left:0;
	}
	.flat-slider{
		width:100%;
	}
}
@media screen and (max-width: 520px){
	.nbs-flexisel-nav-right, .nbs-flexisel-nav-left{
		top:120px !important;
	}
	.nbs-flexisel-nav-right{
		right:8px;
	}
	.nbs-flexisel-nav-left{
		left:8px;
		right:auto;
	}
}
@media screen and (max-width: 479px){
	.nbs-flexisel-nav-right, .nbs-flexisel-nav-left{
		top:200px !important;
	}
	.inner_search .form-control{
		width:100%;
		margin-bottom:8px;
	}
	.range {
		float: left;
		margin-top: 25px;
		width: 100%;
	}
}
@media screen and (max-width: 500px){
	.listing {
    width: 50%;
	}
}
@media screen and (max-width: 400px){
	.listing {
    width: 100%;
	}
}